<div class="modal fade" id="modal-storage" tabindex="-1" aria-labelledby="modal-storageLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-storageLabel">Confirm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/storage" method="POST">
            <h5 class="text-center">
              Are you sure you want to 
              <span id="add-removewrite" style="text-transform:uppercase;"></span> 
              '<span id="span_modalqtd"></span>' of '<span id="span_modalitem"></span>' for '$<span id="span_modalprice"></span>'?
            </h5><br>
            <h6>By clicking Confirm you submit your action</h6>
            <div class="modal-footer">
              <input type="hidden" id="modal_item" name="modal_item">
              <input type="hidden" id="modal_quantity" name="modal_quantity">
              <input type="hidden" id="modal_price" name="modal_price">
              <input type="hidden" id="modal_button" name="modal_button">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button class="btn btn-primary">Confirm</button>
            </div>
        </form>
      </div>  
    </div>
  </div>
</div>

