<div class="modal fade" id="modal-newitem" tabindex="-1" aria-labelledby="modal-newitemLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modal-newitemLabel">Confirm</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{{ url_for('newitem_page') }}" method="POST">
                <h5 class="text-center">Are you sure you want to ADD '<span id="span_newquantity"></span>' of '<span id="span_newitem"></span>' for '$<span id="span_newmodalprice"></span>'?</h5><br>
                <h6>By clicking Confirm you submit your action</h6>
                <div class="modal-footer">
                <input type="hidden" id="new_item" name="new_item">
                <input type="hidden" id="modalnew_quantity" name="modalnew_quantity">
                <input type="hidden" id="modalnew_price" name="modalnew_price">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary">Confirm</button>
                </div>
            </form>
        </div>  
        </div>
    </div>
</div>