{% extends 'base.html' %}

{% block title %}
Storage
{% endblock %}

{% block main %}
    <main class="container-md">
        <div class="row text-center">
            <h1>Storage</h1>
        </div><br>
        <div class="row table-responsive">
            <table class="table table-light table-striped table-hover caption-top" id="storage_table">
                <caption>Welcome '{{ username }}'!</caption>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Item</th>
                        <th style="text-align: center;" class="td-secondchild" scope="col">Quantity</th>
                        <th class="td-lastchild" scope="col">Add/Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% if empty == False %}
                    {% for item in user_storage %}
                    {% include 'includes/modal_storage.html' %}
                        <tr>
                            <th scope="row" id="item_Row" style="text-transform: capitalize;">{{ item.item }}</th>
                            <td class="td-secondchild" style="text-align: center;">{{ item.quantity }}</td>
                            <td class="td-lastchild">
                                    <div class="input-group input-group-sm mb-3">
                                        <input type="hidden" name="item_{{ item.item }}" id="item_{{ item.item }}" value="{{ item.item }}">
                                        <input type="number" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="quantity_{{ item.item }}" 
                                                    name="quantity_{{ item.item }}" placeholder="Quantity">
                                        <span class="input-group-text">$</span>
                                        <input type="number" aria-label="Dollar amount (with dot and two decimal places)" id="price_{{ item.item }}" name="price_{{ item.item }}" placeholder="Price">
                                        <input type="submit" class="btn btn-success" data-toggle="modal" data-target="#modal-storage" value="add" id="add_{{ item.item }}" 
                                                    onclick="modal_button('add', 'item_{{ item.item }}', 'quantity_{{ item.item }}', 'price_{{ item.item }}')">
                                        <input type="submit" class="btn btn-danger" data-toggle="modal" data-target="#modal-storage" value="remove" id="remove_{{ item.item }}" 
                                                    onclick="modal_button('remove', 'item_{{ item.item }}', 'quantity_{{ item.item }}', 'price_{{ item.item }}')">
                                    </div>
                            </td>
                        </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <th scope="row"></th>
                        <td class="td-secondchild" style="text-align: center;">No items</td>
                        <td></td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="row align-items-start">
            {% include 'includes/modal_newitem.html' %}
            <div>
                <label for="">Add a new item</label>
                <i class="bi bi-plus-square-fill"></i>
                <input type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="item_action" name="item_action" placeholder="Item">
                <input type="number" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="new_quantity" name="new_quantity" placeholder="Quantity">
                <input type="number" aria-label="Dollar amount (with dot and two decimal places)" id="new_price" name="new_price" placeholder="Price">
                <input type="submit" class="bi bi-plus-square-fill" value="Add new item" id="new_add" onclick="newitem_button()">
            </div>
        </div>
        {% if error == True %}
            <div class="row alert alert-danger my-3" role="alert">
                {{ error_message }}
            </div>
        {% endif %}
    </main>
{% endblock %}